* {
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
    background: $BodyBG;
    font-family: $fontFamily;
}

.main-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    align-content: space-between;
    align-items: flex-end; //по оси x
    .logo img {
        width: 200px;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 1 0 auto;
        height: 45px;
        border-top: 1px solid $Border;
        border-bottom: 1px solid $Border;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-left: 20px;
        a {
            text-decoration: none;
            color: $NavColor;

            &:hover {
                color: blue;
            }
        }

    }
}

.toolbar {
    text-align: right;
    margin-top: 30px;
    input {
        width: 150px;
        height: 25px;
        border: 1px solid $NavColor;
        border-top: 1px solid transparent;
        background: $BodyBG;

        &::placeholder {
            padding-left: 20px;
            color: $NavColor;
        }
    }
}

.post-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;

    article {
        flex: 0 48%;
        margin-bottom: 20px;
        background-color: $articleBG;
        padding: 5px;

        .post-description {
            color: black;
            border-bottom: 1px solid black;
            margin-bottom: 10px;
            font-size: 12px;
            
        }

        img {
            width: 100%;
        }

        div {
            padding: 5px;

            h3 {
                color: $H3Color;
                text-transform: uppercase;
            }

            p {
                color: $TextColor;
                line-height: 1.5em;
                margin-bottom: 10px;
            }
        }
    }
}

.about {
    h1 {
        color: $NavColor;
        text-transform: uppercase;
        text-align: right;
        margin-top: 60px;
    }

    p {
        margin-bottom: 10px;
        color: $TextColor;
        line-height: 1.5em;
    }

    img {
        max-width: 100%;
    }
}

;

.contact-form {
    margin-top: 50px;
    text-align: right;

    h1,h4 {
        color: $NavColor;
    }

    h4 {
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    form {
       
        input,textarea {
            margin-bottom: 20px;
            padding: 10px 20px;
            border: 1px solid $formColor;
            width: 95%;
            background: $BodyBG;

            &::placeholder {
                color: $formColor;
            }
        }

        input[type=submit] {
            background-color: $NavColor;
            color: white;
            width: 210px;
            height: 45px;
            text-transform: uppercase;
            line-height: 30px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: blue;
            }
        }
    }
}

footer {
    margin-bottom: 10px;

    span {
        color: $TextColor;
        font-size: 10px;
    }
}